.answer p {
	font-size: 18px;

	font-weight: normal;
	font-style: italic;
	font-family: "Times New Roman";
}

.answer li {
	font-size: 17px;
	font-weight: normal;
	font-style: italic;
	font-family: "Times New Roman";
}

.answer {
	color: #181A45;
}

.row {
	margin: auto;
	margin-top: 10px;
}

.solve {
	margin: auto;
	width: 853px;
	height: 800px;
	background-color: #FBFBFB;
  	border: 1px solid #dbdbdb;
  	background-size: cover;
  	margin-top: 20px;
}

.thumbnail {
	width: 400px;
}

.slide {
	position: absolute;
	display: none;
}

.active-slide {
	display: inline-block;
}

.arrow-prev {
	float: left;
	margin-left: 100px;
	margin-top: 200px;
}

.arrow-next {	
	float:right;
	margin-right: 100px;
	margin-top: 200px;
}

.slider {
	width: 400px;
	height: 400px;
	margin: auto;
	margin-top: 20px;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-nav {
  text-align: center;
  margin-top: 20px;
}

.slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: #363636;
}

.slide-answer {
	display: none;
	position: absolute;
	width: 851px;
	padding-left: 50px;
	padding-right: 50px;
}

.active-answer {
	display: block;
}

